body{
  background-color: #faf0e6;
}


.AddToCartBtn{
  background-color: #FFB9CD
}
.AddToCartBtn:hover{
  background-color: purple;
}

.remove-btn{
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

.fade-enter{
  opacity: 0.01;
}

.fade-enter-active{
  opacity: 1;
  transition: ease-in 1000ms;
}

.fade-exit{
  opacity: 1;
}

.fade-exit-active{
  opacity: 0.01;
  transition: ease-out 1000ms;
}

.LogoutBtn{
  color: black;
  margin: 0.5rem;
}

.LogoutBtn:hover {
  color: rgb(251, 255, 240)
}

.AuthBtn{
  color: black;
  margin: 0.5rem;
}

.AuthBtn:hover {
  color: rgb(251, 255, 240)
}

.NavbarRightContainer{
  display: flex
}

.CartBtn{
  margin: 0.5rem
}
